@import './bootstrap';
$font-stack:  'TheJamsil',
              'Pretendard', 
              'Helvetica Neue', 
              'Arial', 
              'Verdana', 
              'Tahoma', 
              'Trebuchet MS', 
              'Georgia', 
              'Garamond', 
              'Palatino', 
              'Times New Roman', 
              'Times', 
              'Courier New', 
              'Courier', 
              'Lucida Console', 
              'Consolas', 
              'Menlo', 
              'Comic Sans MS', 
              'Brush Script MT', 
              'Zapf Chancery', 
              'Papyrus', 
              'Algerian', 
              'Impact', 
              'Arial Black', 
              'Comic Sans', 
              'Fantasy', 
              'monospace', 
              'sans-serif', 
              'serif';
$text-default: #222222;

:root {
  
  --fs-7: 0.875rem;  // 14px
  --fs-8: 0.75rem;   // 12px
  --fs-9: 0.625rem;  // 10px
  --fs-10: 0.5rem;   // 8px
  --bs-link-color-rgb: 34, 34, 34; // 기본 링크 색상 (RGB 값으로 #222)
  --bs-link-hover-color-rgb: 34, 34, 34; // hover 상태 색상 (RGB 값으로 #222)
  --bs-link-opacity: 1; // 링크 색상 불투명도
  --main-color: #13A482;
  --main-sub-color: #0d7e64;
  --main-light-color1: #86D4C2;
  --main-light-color2: #C4EAE1;
  --main-dark-color1: #2B4B50;
  --main-dark-color2: #729196;
  
}
/* reset 리셋 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: $font-stack;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: #F5F6F6;
  min-height: 100vh;
  color: $text-default;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity));
  text-decoration: none; // 기본 상태에서 언더라인 제거
  cursor: pointer;

  &:hover {
    color: rgba(var(--bs-link-hover-color-rgb), var(--bs-link-opacity));
  }
}
button, input, select, textarea, a{
    outline: none!important;
}
input,
input:focus,
select,
select:focus,
textarea,
textarea:focus,
.btn:focus,
.accordion-button:focus,
button{
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0!important;
}
footer{
  background-color: #333;
}
header{
  background-color: #fff;
}
/* font 폰트 */
@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-Thin.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-Light.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-Light.woff') format('woff');
    font-weight: 300; // Light
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-Regular.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-Medium.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-Bold.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/Pretendard-Black.woff2') format('woff2'),
         url('../assets/fonts/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-1-Thin.ttf') format('truetype'),
       url('../assets/fonts/TheJamsil-OTF-1-Thin.otf') format('opentype');
  font-weight: 100; // Thin
  font-style: normal;
}
@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-1-Thin.ttf') format('truetype'),
       url('../assets/fonts/TheJamsil-OTF-1-Thin.otf') format('opentype');
  font-weight: 200; // Extra-Light
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-2-Light.ttf') format('truetype'),
       url('../assets/fonts/TheJamsil-OTF-2-Light.otf') format('opentype');
  font-weight: 300; // Light
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-2-Light.ttf') format('truetype'),
  url('../assets/fonts/TheJamsil-OTF-2-Light.otf') format('opentype');
  font-weight: 400; // Regular
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-3-Regular.ttf') format('truetype'),
       url('../assets/fonts/TheJamsil-OTF-3-Regular.otf') format('opentype');
  font-weight: 500; // Medium
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-4-Medium.ttf') format('truetype'),
       url('../assets/fonts/TheJamsil-OTF-4-Medium.otf') format('opentype');
  font-weight: 600; // Semi-Bold
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-5-Bold.ttf') format('truetype'),
       url('../assets/fonts/TheJamsil-OTF-5-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-6-ExtraBold.ttf') format('truetype'),
       url('../assets/fonts/TheJamsil-OTF-6-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../assets/fonts/TheJamsil-6-ExtraBold.ttf') format('truetype'),
       url('../assets/fonts/TheJamsil-OTF-6-ExtraBold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: $font-stack;
}

/* font 폰트 사이즈 */
.fs-7 {
  font-size: var(--fs-7);
}

.fs-8 {
  font-size: var(--fs-8);
}

.fs-9 {
  font-size: var(--fs-9);
}

.fs-10 {
  font-size: var(--fs-10);
}
.fs-lg {
  font-size: 3.5rem;
}

/* position 포지션 */
.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.position-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* etc 기타 범용적 */
/* font 폰트 사이즈 */
.fs-7 {
  font-size: var(--fs-7);
}

.fs-8 {
  font-size: var(--fs-8);
}

.fs-9 {
  font-size: var(--fs-9);
}

.fs-10 {
  font-size: var(--fs-10);
}
.fs-lg {
  font-size: 3.5rem;
}

/* position 포지션 */
.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.position-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.z-99{
  z-index: 99;
}
/* display 디스플레이 */
@layer utilities {
  .d-list-item {
      display: list-item;
     }
}

/* width 반응형 */
@media (max-width: 767.98px) { // sm 이하
  .w-sm-75{
      width: 75%!important;
  }
}

@media (min-width: 768px) { // md 이상
}

/* margin 마진 */
.mt-6 { margin-top: 6rem; }
.mb-6 { margin-bottom: 6rem; }
.ms-6 { margin-left: 6rem; }
.me-6 { margin-right: 6rem; }
.mx-6 { margin-left: 6rem; margin-right: 6rem; }
.my-6 { margin-top: 6rem; margin-bottom: 6rem; }
.m-6 { margin: 6rem; }
.mb-md-6 {
  @include media-breakpoint-up(md) {
    margin-bottom: 6rem!important;
  }
}

.mt-7 { margin-top: 7rem; }
.mb-7 { margin-bottom: 7rem; }
.ms-7 { margin-left: 7rem; }
.me-7 { margin-right: 7rem; }
.mx-7 { margin-left: 7rem; margin-right: 7rem; }
.my-7 { margin-top: 7rem; margin-bottom: 7rem; }
.m-7 { margin: 7rem; }

.mt-8 { margin-top: 8rem; }
.mb-8 { margin-bottom: 8rem; }
.ms-8 { margin-left: 8rem; }
.me-8 { margin-right: 8rem; }
.mx-8 { margin-left: 8rem; margin-right: 8rem; }
.my-8 { margin-top: 8rem; margin-bottom: 8rem; }
.m-8 { margin: 8rem; }
.mb-md-8 {
  @include media-breakpoint-up(md) {
    margin-bottom: 8rem!important;
  }
}
.mt-9 { margin-top: 9rem; }
.mb-9 { margin-bottom: 9rem; }
.ms-9 { margin-left: 9rem; }
.me-9 { margin-right: 9rem; }
.mx-9 { margin-left: 9rem; margin-right: 9rem; }
.my-9 { margin-top: 9rem; margin-bottom: 9rem; }
.m-9 { margin: 9rem; }

.mt-10 { margin-top: 10rem; }
.mb-10 { margin-bottom: 10rem; }
.ms-10 { margin-left: 10rem; }
.me-10 { margin-right: 10rem; }
.mx-10 { margin-left: 10rem; margin-right: 10rem; }
.my-10 { margin-top: 10rem; margin-bottom: 10rem; }
.m-10 { margin: 10rem; }

/* padding 패딩 */
.pt-6 { padding-top: 6rem; }
.pb-6 { padding-bottom: 6rem; }
.ps-6 { padding-left: 6rem; }
.pe-6 { padding-right: 6rem; }
.px-6 { padding-left: 6rem; padding-right: 6rem; }
.py-6 { padding-top: 6rem; padding-bottom: 6rem; }
.p-6 { padding: 6rem; }

.pt-7 { padding-top: 7rem; }
.pb-7 { padding-bottom: 7rem; }
.ps-7 { padding-left: 7rem; }
.pe-7 { padding-right: 7rem; }
.px-7 { padding-left: 7rem; padding-right: 7rem; }
.py-7 { padding-top: 7rem; padding-bottom: 7rem; }
.p-7 { padding: 7rem; }

.pt-8 { padding-top: 8rem; }
.pb-8 { padding-bottom: 8rem; }
.ps-8 { padding-left: 8rem; }
.pe-8 { padding-right: 8rem; }
.px-8 { padding-left: 8rem; padding-right: 8rem; }
.py-8 { padding-top: 8rem; padding-bottom: 8rem; }
.p-8 { padding: 8rem; }

.pt-9 { padding-top: 9rem; }
.pb-9 { padding-bottom: 9rem; }
.ps-9 { padding-left: 9rem; }
.pe-9 { padding-right: 9rem; }
.px-9 { padding-left: 9rem; padding-right: 9rem; }
.py-9 { padding-top: 9rem; padding-bottom: 9rem; }
.p-9 { padding: 9rem; }

.pt-10 { padding-top: 10rem; }
.pb-10 { padding-bottom: 10rem; }
.ps-10 { padding-left: 10rem; }
.pe-10 { padding-right: 10rem; }
.px-10 { padding-left: 10rem; padding-right: 10rem; }
.py-10 { padding-top: 10rem; padding-bottom: 10rem; }
.p-10 { padding: 10rem; }

.px-md-auto {
  padding-left: auto;
  padding-right: auto;

  @media (min-width: 768px) { // md 사이즈 이상
      padding-left: auto;
      padding-right: auto;
  }
}
.font-style-normal{
  font-style: normal!important;
}
.transition-all-03{
  transition: all 0.3s!important;
}
.cursor-pointer{
  cursor: pointer!important;
}
.text-truncate-2 { /* 두줄 말줄임 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 보여줄 줄 수 설정 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.z-99{
  z-index: 99;
}


/* theme 커스텀 */
/* theme text 텍스트 컬러 */
.text-main {
  color: var(--main-color);
}
.text-main-sub {
  color: var(--main-sub-color);
}
.text-main-dark1 {
  color: var(--main-dark-color1);
}
.text-main-light1 {
  color: var(--main-light-color1);
}

.text-main-hover:hover {
  color: var(--bs-main)!important;
}
.text-white-hover:hover {
  color: #fff!important;
}












/* 임시 */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
/* 임시 */

.btn-main {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--main-sub-color);
  --bs-btn-hover-border-color: var(--main-sub-color);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--main-sub-color);
  --bs-btn-active-border-color: var(--main-sub-color);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);

  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);

  &:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  }

  &:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
    box-shadow: var(--bs-btn-active-shadow);
  }

  &:disabled {
    color: var(--bs-btn-disabled-color);
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
  }
}
.form-signin{
  width: 40%;
  padding: 2rem;
  min-width: 300px;
  max-width: 450px;
}
.main-carousel{
  height: 300px;
}
.carousel-item{
  height: 300px;
}
/* nav 테마 커스텀 */
.nav-link{
  color: var(--main-color);
}
.nav-link:hover, .nav-link:focus{
  color: var(--main-sub-color);
}
.top-search-icon{
  position: relative;
  right: 30px;
  top: 10px;
}
.top-search-input{
  max-width: 300px;
}
.main-shadow-underline{
  box-shadow: inset 0 -14px 0 #C4EAE1;
}
/* 메인 index */
.map-next-btn,
.map-prev-btn{
  width: 37.5px;
  height: 37.5px;
  min-width: 37.5px;
  min-height: 37.5px;
}
.map-next-btn > i{
  padding-left: 3px;
  padding-top: 2px;
}
.map-prev-btn > i{
  padding-right: 3px;
  padding-top: 2px;
}

/* GalleryCarousel */
.gallery-div {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.gallery-carousel {
  overflow: hidden;
}
.gallery-carousel-inner {
  display: flex;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.gallery-carousel-inner .gallery-carousel-item {
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .gallery-carousel-inner .gallery-carousel-item {
      width: 33.33%;
      padding: 0 0.5rem;
  }
}

@media (min-width: 1200px) {
  .gallery-carousel-inner .gallery-carousel-item {
      width: 33.33%;
      padding: 0 1rem;
  }
}
#galleryNextButton, #galleryPrevButton{
  background: #ffffffbb;
  border: none;
  z-index: 2;
  border-radius: 0.5rem;
  color: var(--bs-main);
}